body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #5499cb;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
    
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.input-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

#task-input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    font-size: 16px;
    min-width: 0; /* Ensures input doesn't overflow */
    box-sizing: border-box;
}

#add-task-btn {
    padding: 10px 20px;
    border: none;
    background-color: #5499cb;
    color: #fff;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
    font-size: 16px;
    box-sizing: border-box;
}

#add-task-btn:hover {
    background-color: #0056b3;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f9f9f9;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}

li:nth-child(even) {
    background-color: #f0f0f0;
}

.task-text {
    flex: 1;
    margin: 0;
}

button {
    margin-left: 10px;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
}

.edit-btn {
    background-color: #ffc107;
    color: #fff;
}

.edit-btn:hover {
    background-color: #e0a800;
}

.delete-btn {
    background-color: #dc3545;
    color: #fff;
}

.delete-btn:hover {
    background-color: #c82333;
}

@media (max-width: 600px) {
    .input-container {
        flex-direction: column;
    }

    #task-input, #add-task-btn {
        width: 100%;
        margin-bottom: 10px;
        border-radius: 5px;
    }

    #add-task-btn {
        border-radius: 5px;
    }

    li {
        flex-direction: column;
        align-items: flex-start;
    }

    button {
        margin: 5px 0 0 0;
        width: 100%;
    }
}
